<div class="transparant-well">
  <% if @benchmark_execution.active? %>
  <%= link_to "#{restart_icon}&nbsp;Start Benchmark again".html_safe, restart_benchmark_benchmark_execution_path, method: :post, class: 'btn btn-info btn-block',
              data: confirm_restart_benchmark_msg(@benchmark_execution) %>
  <%= link_to "#{abort_icon}&nbsp;Abort".html_safe, abort_benchmark_execution_path, method: :post, class: 'btn btn-warning btn-block',
              data: confirm_abort_execution_msg(@benchmark_execution) %>
  <br>
  <% end %>
  <%= link_to "#{delete_icon}&nbsp;Delete".html_safe, @benchmark_execution, method: :delete, class: 'btn btn-danger btn-block',
              data: confirm_delete_execution_msg(@benchmark_execution) %>
</div>