<span class="glyphicon glyphicon-envelope"></span>
<% start_time = @benchmark_execution.execution_start_time %>
<% provide(:title, "Execution #{formatted_time(start_time, :date_only)} of #{@benchmark_definition.name}") %>
<% title = "Execution #{formatted_time(start_time, :date_human)}" %>
<% subtitle = "#{formatted_time(start_time, :time_only)} of #{link_to @benchmark_definition.name, @benchmark_definition}" %>
<% content_header(title, subtitle) %>

<div id="benchmark_execution" data-id='<%= @benchmark_execution.id %>'>
  <%= render 'dashboard', benchmark_execution: @benchmark_execution %>
  <br>
  <%= render 'timeline', benchmark_execution: @benchmark_execution %>
</div>