<% start_time = @benchmark_execution.execution_start_time %>
<% provide(:title, "Execution #{formatted_time(start_time, :date_only)} of #{@benchmark_definition.name}") %>
<% title = "Execution #{formatted_time(start_time, :date_human)}" %>
<% subtitle = "#{formatted_time(start_time, :time_only)} of #{link_to @benchmark_definition.name, @benchmark_definition}" %>
<% content_header(title, subtitle) %>

<%= render 'dashboard', benchmark_execution: @benchmark_execution %>

<br>
<div class="container">
  <%= render 'live_log', id: 'prepare', title: 'Prepare benchmark' %>
  <br>
  <br>
  <%= render 'live_log', id: 'releaseResources', title: 'Release resources' %>
</div>
