<% vms = 'Virtual Machine Instances' %>
<% provide(:title, vms) %>
<% content_header(vms) %>

<%= will_paginate @virtual_machine_instances %>

<div class="box-body table-responsive">
  <table class="table table-hover">
    <thead>
    <tr>
      <th>Execution Status</th>
      <th>Benchmark Definition</th>
      <th>Execution Start Time</th>
      <th>Provider</th>
      <th>Provider Instance Id</th>
    </tr>
    </thead>
    <tbody>
    <%= render @virtual_machine_instances %>
    </tbody>
  </table>
</div>
<%= will_paginate @virtual_machine_instances %>
