<% benchmark_definition = @metric_definition.benchmark_definition %>
<% provide(:title, "Edit #{@metric_definition.name} metric of #{benchmark_definition.name}") %>
<% content_header("Edit Metric Definition", "#{@metric_definition.name} of #{link_to(benchmark_definition.name, benchmark_definition)}") %>

<div class="col-md-4">
  <%= render 'form', submit_value: 'Update Metric Definition', url: edit_metric_definition_path(@metric_definition) %>
</div>

<div class="col-md-8">
  <%= render 'scale_types' %>
</div>