<% benchmark_definition = @metric_definition.benchmark_definition %>
<% provide(:title, "Create Metric Definition for #{benchmark_definition.name}") %>
<% content_header("Create Metric Definition", "for #{link_to(benchmark_definition.name, benchmark_definition)}") %>

<div class="col-md-4">
  <%= render 'form', submit_value: 'Create Metric Definition', url: benchmark_definition_metric_definitions_path(benchmark_definition) %>
</div>