<%= form_for(@ordered_metric_observation) do |f| %>
  <% if @ordered_metric_observation.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@ordered_metric_observation.errors.count, "error") %> prohibited this ordered_metric_observation from being saved:</h2>

      <ul>
      <% @ordered_metric_observation.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <%= render 'shared/metric_observation_form', f: f %>

<% end %>
