.sidebar > .sidebar-menu > li.sidebar-divider {
  height: 10px;
  margin: 0;
  border-top: none;
  border-bottom: none;
}

.sidebar > .sidebar-menu > li.sidebar-header {
  text-transform: uppercase;
  font-weight: bold;
  padding-top: 8px;
  padding-bottom: 2px;
  padding-left: 6px;
  border-top: none;
  border-bottom: none;
}
