*~
*#
.#*
\#*#
.*.sw[a-z]
*.un~
pkg/

# Berkshelf
.vagrant
/cookbooks
Berksfile.lock

# Bundler
Gemfile.lock
bin/*
.bundle/*

## IGNORE SECRET CONFIG
# ignore secret directory
/secret

# private keys
*.pem

# secret config
*.secret