<table class='table table-hover'>
  <thead>
  <tr>
    <th class="icon-width"></th>
    <th>Status</th>
    <th>Started (Execution/Benchmark)</th>
    <th>Duration (Execution/Benchmark)</th>
    <th></th>
  </tr>
  </thead>
  <tbody>
    <%= render @benchmark_executions %>
  </tbody>
</table>