<% schedule = benchmark_definition.benchmark_schedule %>
<% if schedule.nil? %>
  <%= link_to 'Create Schedule', new_benchmark_definition_benchmark_schedule_path(benchmark_definition), class: 'btn btn-default' %>
<% elsif schedule.active? %>
  <div class="tooltip-options">
    <%= link_to 'Edit Schedule', edit_benchmark_schedule_path(schedule),
                class: 'btn btn-success', title: "<b>#{schedule.cron_expression}</b><br>#{schedule.cron_expression_in_english}".html_safe %>
  </div>
<% else %>
  <div class="tooltip-options">
    <%= link_to 'Edit Schedule', edit_benchmark_schedule_path(schedule),
                class: 'btn btn-default', title: "<b>#{schedule.cron_expression}</b><br>#{schedule.cron_expression_in_english}".html_safe %>
  </div>
<% end %>