<p>
  <strong>Metric definition:</strong>
  <%= metric_observation.metric_definition_id %>
</p>

<p>
  <strong>Virtual machine instance:</strong>
  <%= metric_observation.virtual_machine_instance_id %>
</p>

<p>
  <strong>Time:</strong>
  <%= metric_observation.time %>
</p>

<p>
  <strong>Value:</strong>
  <%= metric_observation.value %>
</p>