<div>
<%= link_to 'https://www.vagrantup.com/docs/vagrantfile/', target: '_blank' do %>
  Vagrantfile Documentation
<% end %>

<ul>
  <li>
    <%= doc_link('vagrant-aws', 'https://github.com/mitchellh/vagrant-aws#configuration') %>
  </li>
  <li>
    <%= doc_link('vagrant-google', 'https://github.com/mitchellh/vagrant-google#configuration') %>
  </li>
  <li>
    <%= doc_link('vagrant-azure', 'https://github.com/Azure/vagrant-azure#configuration') %>
  </li>
</ul>
</div>
