<div class="box-body table-responsive">
  <table class="table table-hover">
    <thead>
    <tr>
      <th>Execution Status</th>
      <% if show_benchmark_definition %><th>Benchmark Definition</th><% end %>
      <th>Execution Start Time</th>
      <th>Provider</th>
      <th>Provider Instance Id</th>
      <th></th>
    </tr>
    </thead>
    <tbody>
    <%= render @virtual_machine_instances, show_benchmark_definition: show_benchmark_definition %>
    </tbody>
  </table>
</div>