<table class="table table-bordered cron-reference">
  <tbody>
  <tr>
    <th>Minute</th>
    <th>Hour</th>
    <th>Day of month</th>
    <th>Month</th>
    <th>Day of week</th>
  </tr>
  <tr>
    <td>0-59</td>
    <td>0-23</td>
    <td>1-31</td>
    <td>1-12</td>
    <td>0-7</td>
  </tr>
  </tbody>
</table>

<h3>Example</h3>
<blockquote>
  <p><code class="cron-example">0 10/22 * * 1-5</code></p>
  <small>at 10 am and pm on weekdays</small>
</blockquote>
