<% description = 'WorkBench 422 - Unprocessable entity' %>
<% provide(:title, description) %>
<% content_header(description) %>

<div class="error-page">
  <h2 class="headline">422</h2>
  <div class="error-content">
    <h3><i class="fa fa-warning text-yellow"></i> Oops! Unprocessable entity.</h3>
    <p>
      Server is unable to process the entity. Check your request semantics.
      Meanwhile, you may <%= link_to 'return to dashboard', root_path %>
    </p>
  </div>
</div>