<% provide(:title, 'Dashboard') %>
<% content_header('Dashboard') %>

<%= render 'count_widgets' %>
<div class="row">
  <div class="col-md-8">
    <h2>Introduction</h2>
    <%= fa_icon 'cloud' %>&nbsp;WorkBench is a framework to define and execute benchmarks in the Cloud.
  </div>
  <div class="col-md-4">
    <%= image_tag 'seal/seal-blue-lg.png', class: 'seal-blue-lg' %>
  </div>
</div>