.bold {
  font-weight: bold;
}

.action-sidebar {
  margin-bottom: @line-height-computed;
}

a.schedule-align {
  padding: .4em .6em .4em;
}

button.schedule-align {
  padding: .18em .6em .18em;
}

// TODO: fix centering and btn right
.pagination-box {
//  display: inline-block;
  margin: 0 auto;
  text-align: center;
  .pagination {
    margin: 0px;
  }
}


//
//.toolbar-center {
//  .pagination {
//    margin: 0px;
//  }
//}
//
//.header-title {
//  float: left;
//  margin-left: 10px;
//}
//
//.toolbar-center {
//  float: left;
//  margin: 4px;
//}
//
//.nopadding {
//  padding: 0 !important;
//  margin: 0 !important;
//}
//.display-none {
//  display: none;
//}