// General
.label {
  display: inline-block;
}

.inline-flex {
  display: inline-flex;
}

.transparant-well {
  min-height: 20px;
  padding: 19px;
  margin-bottom: 20px;
}

.wrap-line {
  white-space: normal;
}

@bloackquote-active: @brand-success;
blockquote.active {
  border-left: 5px solid @bloackquote-active;
  small {
    color: @bloackquote-active;
  }
}

// Benchmark schedule
table.cron-reference {
  table-layout: fixed;
}

.cron-example {
  color: @black;
  background-color: #eeeeee;
}

// Schedule sidebar
.btn-margin {
  margin: 4px;
}

// Link icons
.icons-lg {
  font-size: 13pt;
  a {
    margin-right: 4px;
  }
}

.action-icon(@color) {
  color: @color;
}

a.edit {
  .action-icon(@seal-orange);
}

a.delete {
  .action-icon(@red);
}

a.clone {
  .action-icon(@green);
}

a.start {
  .action-icon(@seal-blue);
}

// Link colors. Ignore existing hover rules to preserve readability on hover
.dropdown-menu > li > a:not(:hover) {
  &.edit-color {
    color: @seal-orange;
  }

  &.activate-color {
    color: @green;
  }

  &.deactivate-color {
    color: @red;
  }
}
