<strong>This action will delete all associated data of <em><%= benchmark_definition.name %></em>:</strong><br>
<ul>
  <li>benchmark schedules</li>
  <li>metric definitions and its observed metrics</li>
  <li>benchmark executions and its events and virtual machines</li>
</ul>