<% provide(:title, "Edit #{@benchmark_definition.name}") %>
<% content_header('Edit Benchmark Definition', link_to(@benchmark_definition.name, @benchmark_definition)) %>

<div class="row">
  <div class="col-md-9">
    <%= render 'form', submit_name: 'Update Benchmark' %>
  </div>
  <div class="col-md-3">
    <%= render 'shared/metric_definitions_sidebar' %>
  </div>
</div>