<% provide(:title, @benchmark_definition.name) %>
<% content_header('Benchmark Definition', @benchmark_definition.name) %>

<div class="row">
  <div class="col-md-9">
    <%= render 'vagrantfile_box' %>
    <%= render 'benchmark_executions_box' %>
  </div>

  <div class="col-md-3">
    <%= render 'action_sidebar' %>
    <%= render 'shared/schedule_metric_sidebar', benchmark_definition: @benchmark_definition,
                                                 benchmark_schedule: @benchmark_schedule,
                                                 metric_definitions: @metric_definitions %>
  </div>
</div>