<p id="notice"><%= notice %></p>

<p>
  <strong>Name:</strong>
  <%= @benchmark_definition.name %>
</p>

<%= link_to 'Edit', edit_benchmark_definition_path(@benchmark_definition) %> |
<%= link_to 'Back', benchmark_definitions_path %>
