<h2><%= @benchmark_definition.name %></h2>

<div class="container">
  <div class="row">

    <div class="box span9">
      <header>
        <h4>Executions (<%= @benchmark_definition.benchmark_executions.count %>)</h4>
      </header>
      <%= render 'benchmark_executions' %>
    </div>

    <div class="span3">
      <div class="well sidebar-nav">
        <h4>Metrics</h4>
        <%= render 'metric_definitions' %>
      </div>
    </div>
  </div>
</div>

