<% flash.each do |key, value| %>
  <div class="alert alert-<%= flash_class(key) %> alert-dismissable">
    <%= flash_icon(key) %>
    <button type="button" class="close" data-dismiss="alert" aria-hidden="true">×</button>
    <%= value %>
  </div>
<% end %>