<ul class="sidebar-menu">
  <li class="sidebar-header">Benchmark&nbsp;<i class="fa fa-tachometer"></i></li>
  <li>
    <%= link_to benchmark_definitions_path do %>
      <i class="fa fa-file-text"></i>&nbsp;<span class="link-title">Definitions</span>
    <% end %>
  </li>
  <li>
    <%= link_to benchmark_executions_path do %>
      <i class="fa fa-play-circle"></i>&nbsp;<span class="link-title">Executions</span>
    <% end %>
  </li>
  <li class="sidebar-divider"></li>
  <li class="sidebar-header">Others</li>
  <li>
    <%= link_to virtual_machine_instances_path do %>
      <i class="fa fa-desktop"></i>&nbsp;<span class="link-title">Virtual Machines</span>
    <% end %>
  </li>
</ul>